@media (max-width: 768px) {
    /* NAV */
    .nav {
        gap: 10px;
        font-size: 16px;
    }

    .nav-h3,
    .dev-text {
        font-size: 18px;
    }

    .end-images {
        gap: 12px;
    }

    .divider {
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    /* available */
    .ellipse-text {
        font-size: 14px;
        font-weight: 400;
        padding: 6px 14px;
    }

    .content-h1-text {
        font-size: 38px;
        line-height: 45px;
    }

    .content-p-text {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 3%;
    }

    .main_button-1 {
        gap: 6px;
        padding: 10px 18px;
        font-size: 12px;
    }

    .main_button-2 {
        font-size: 12px;
        gap: 6px;
        padding: 10px 18px;
    }
}

@media (max-width: 768px) {
    /* information */
    .number-one {
        font-size: 12px;
        font-weight: 400;
    }

    .number-text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    /* ABOUT ME */
    .about-section {
        padding: 90px 0;
    }

    .about-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .about-desc {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 50px;
    }

    .about-left {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    /* FEATURES */
    .feature-card h4{
        font-size: 13px;
    }

    .feature-card p{
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    /* PORTFOLIO */
    .portfolio {
        padding: 80px 40px;
    }

    .portfolio-cards {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    .footer-wrapper {
        flex-direction: column;
        gap: 40px;
    }
}